<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="com.pl.plugins.core" version="0.0.1"
	class="com.pl.plugins.core.CorePlugin">
	<runtime>
		<library id="com.pl.plugins.core" path="/" type="code">
			<export prefix="*" />
		</library>
        <library id="swingx" path="lib/swingx-0.9.2.jar" type="code">
        </library>
		<library id="jgoodies" path="lib/forms-1.0.7.jar" type="code">
        </library>
		<library id="digester" path="lib/commons-digester-1.8.jar" type="code">
        </library>
		<library id="spring-context" path="lib/spring-context-2.0.4.jar" type="code">
        </library>
		<library id="common-collections" path="lib/commons-collections.jar" type="code">
        </library>
		<library id="spring-beans" path="lib/spring-beans-2.0.4.jar" type="code">
        </library>
		<library id="spring-core" path="lib/spring-core-2.0.4.jar" type="code">
        </library>
		<library id="commons-beanutils" path="lib/commons-beanutils-1.7.0.jar" type="code">
        </library>
    </runtime>
	<extension-point id="PLPlugin" extension-multiplicity="one-per-plugin">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" multiplicity="none-or-one" />
		<parameter-def id="icon" multiplicity="none-or-one" />
        <parameter-def id="springConfig" multiplicity="none-or-one" />
    </extension-point>
</plugin>